html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
}

@media (min-width: 960px) {
  .wrapper {
    width: 80vw;
  }
}

.lock {
  overflow: hidden;
}

html {
  font-family: 'Satoshi', sans-serif;
}

header {
  height: 100vh;
  position: relative;
}

header .hamburgerIcon {
  width: 2em;
  position: absolute;
  right: 1em;
  display: none;
}

header nav {
  margin-top: 2em;
}

header nav .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .navlinks a {
  font-size: 1.1rem;
  margin: 0 1em;
}

header nav .navlinks a:hover {
  border-bottom: 5px solid black;
}

header nav .visible {
  display: block;
}

header nav .hidden {
  display: none;
}

@media (max-width: 599px) {
  header .hamburgerIcon {
    display: block;
  }
  header .navlinks a {
    display: none;
  }
  header .navlinks__mobile {
    position: absolute;
    width: 100%;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 95vh;
  }
  header .navlinks__mobile img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2em;
    right: 1em;
  }
  header .navlinks__mobile__link {
    margin: 1em 0;
  }
  header .navlinks__mobile__link a {
    font-size: 2rem;
    font-weight: 500;
  }
}

main {
  position: relative;
}

main section {
  position: relative;
}

main section .heading {
  color: #252525;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main .icons {
  position: absolute;
  bottom: 5em;
}

main .icons img {
  margin-right: 1em;
}

@media (min-width: 960px) {
  section {
    padding-top: 4em;
  }
  section .heading {
    margin-bottom: 0.5em;
    font-size: 3.1rem;
  }
}

@media (max-width: 959px) {
  section {
    margin-bottom: 3em;
    padding-top: 2em;
  }
  section .heading {
    margin-bottom: 1.8em;
    font-size: 1rem;
  }
}

.header__intro {
  text-align: center;
  height: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__intro .icons {
  position: absolute;
  bottom: 4em;
  left: 5em;
}

.header__intro .icons img {
  margin-right: 1em;
}

.header__intro h1 {
  font-weight: 900;
  color: #252525;
  letter-spacing: -1.8px;
}

.header__intro span {
  margin: 0.7em 0;
  margin-left: 5px;
  color: #4e4e4e;
}

@media (min-width: 960px) {
  .header__intro h1 {
    font-size: 5.1rem;
  }
  .header__intro span {
    font-size: 1.8rem;
  }
  .icons img {
    width: 1.6em;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .header__intro h1 {
    font-size: 3.6rem;
  }
  .header__intro span {
    font-size: 1.5rem;
  }
  .icons img {
    width: 1.6em;
  }
}

@media (max-width: 599px) {
  .header__intro {
    margin-left: 0;
  }
  .header__intro .icons {
    position: absolute;
    left: 0;
  }
  .header__intro h1 {
    font-size: 2.5rem;
  }
  .header__intro span {
    margin: 0.4;
    font-size: 1.2rem;
  }
  .icons img {
    width: 1.4em;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
}

.about__info {
  line-height: 1.8em;
}

@media (min-width: 960px) {
  .about {
    margin-top: 20em;
  }
  .about__info {
    font-size: 1.4rem;
    width: 70%;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .about__info {
    font-size: 1.3rem;
    width: 80%;
  }
}

@media (max-width: 599px) {
  .about__info {
    font-size: 1.2rem;
    width: 90%;
  }
}

.work .heading {
  margin-bottom: 2em;
}

.work .work__project {
  position: relative;
  margin-bottom: 25em;
}

.work .work__project::before {
  content: "";
  position: absolute;
  left: -1em;
  top: -1em;
  width: 90px;
  height: 90px;
  border-left: 15px solid #2500cc;
  border-top: 15px solid #2500cc;
}

.work .work__project::after {
  content: "";
  position: absolute;
  right: -1em;
  top: -1em;
  width: 90px;
  height: 90px;
  border-right: 15px solid #2500cc;
  border-top: 15px solid #2500cc;
}

.work .work__project__imgContainer {
  width: 100%;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.089);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.089);
}

.work .work__project__imgContainer img {
  width: 100%;
}

.work .work__project__info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .work__project__info__name {
  padding-top: 0.3em;
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.work .work__project__info__description {
  color: #4e4e4e;
  line-height: 1.6em;
  text-align: center;
  margin: 0.5em 0;
  width: 40%;
}

.work .work__project__info__stack {
  margin-top: 1em;
  font-weight: 500;
}

.work .work__project__info__stack span {
  margin-right: 0.3em;
  font-size: 0.8rem;
}

.work .work__project__info__links {
  margin: 2em 0;
}

.work .work__project__info__links__link {
  text-transform: uppercase;
  margin-right: 1em;
  font-weight: bold;
  border-bottom: 2px solid white;
}

.contact {
  padding: 0;
  padding-bottom: 5em;
}

.contact__message {
  color: #252525;
  display: block;
}

.contact__message__link {
  -webkit-text-decoration: 2px underline #252525;
          text-decoration: 2px underline #252525;
}

.contact .icons {
  position: absolute;
  bottom: 0em;
  left: 0;
}

.contact .icons img {
  margin-right: 1em;
}

@media (min-width: 960px) {
  .contact {
    margin-bottom: 4em;
  }
  .contact__message {
    font-size: 1.3rem;
  }
  .icons img {
    width: 1.6em;
  }
}

@media (max-width: 959px) {
  .contact__message {
    font-size: 1.2rem;
    line-height: 1.6em;
  }
}
/*# sourceMappingURL=main.css.map */