.about {
    display: flex;
    align-items: center;

    &__info {
        margin: 0 auto;
        line-height: 1.8em;
        color: $secondaryColor;

    }
}

@media(min-width:960px) {
    .about {
        font-size: 1.6rem;

        &__info {
            width: 70%;
        }
    }
}

@media(min-width:600px) and (max-width: 959px) {
    .about {
        font-size: 1.3rem;

        &__info {
            width: 80%;
        }
    }
}


@media(max-width: 599px) {
    .about {
        font-size: 1rem;

        &__info {
            width: 90%;
        }
    }
}