.about {
    display: flex;
    flex-direction: column;

    &__info {
        margin: 0 auto;
        line-height: 1.8em;
        color: $secondaryColor;

    }
}

@media(min-width:960px) {
    .about {
        
        &__info {
            font-size: 1.6rem;
            width: 70%;
        }
    }
}

@media(min-width:600px) and (max-width: 959px) {
    .about {
        
        &__info {
            font-size: 1.3rem;
            width: 80%;
        }
    }
}


@media(max-width: 599px) {
    .about {
        
        &__info {
            font-size: 1.2rem;
            width: 90%;
        }
    }
}