.contact {
    height: 30vh;

    .heading {
        top: -3em;
    }

    &__message {
        color: $primaryColor;
        display: block;

        &__link {
            text-decoration: 2px underline $primaryColor;
        }
    }

    .icons {
        @include icons__parent;
        bottom: 0em;
        left: 0;

        img {
            @include icons__children;
        }
    }
}

@media(min-width:960px) {
    .contact {
        &__message {
            font-size: 1.3rem;
        }
    }
}

@media(max-width: 959px) {
    .contact {
        &__message {
            font-size: 1.2rem;
            line-height: 1.6em;
        }
    }
}