.header__intro {
    text-align: center;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .icons {
        @include icons__parent;
        bottom: 4em;
        left: 5em;

        img {
            @include icons__children;
        }
    }

    h1 {
        font-weight: 900;
        color: $primaryColor;       
        letter-spacing: -1.8px;
    }

    span {
        margin: 0.7em 0;
        margin-left: 5px;
        color: $secondaryColor;
    }
}

@media(min-width:960px) {
    .header__intro {
        h1 {
            font-size: 5.1rem;
        }

        span {
            font-size: 1.8rem;
        }
    }

    .icons {
        img {
            @include icons__children__large
        }
    }
}

@media(min-width:600px) and (max-width: 959px) {
    .header__intro {
        h1 {
            font-size: 3.6rem;
        }

        span {
            font-size: 1.5rem;
        }
    }

    .icons {
        img {
            @include icons__children__medium
        }
    }
}


@media(max-width: 599px) {
    .header__intro {
        margin-left: 0;

        .icons {
            @include icons__parent;
            left: 0;
        }

        h1 {
            font-size: 2.5rem;
        }

        span {
            margin: 0.4;
            font-size: 1.2rem;
        }
    }

    .icons {
        img {
            @include icons__children__small
        }
    }
}