.header__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primaryColor;
    
    h1 {
        letter-spacing: -5px;
        font-size: 9rem;
        font-weight: 100;
    }

    span {
        margin: 1.5em 0;
        font-size: 1.3rem;
        letter-spacing: 1px;
        font-weight: 200;
        color: $secondaryColor;
    }
}