.work {

    .work__project {
        &__info {
            display: flex;
            flex-direction: column;

            &__name {
                margin-left: -5px;
                font-weight: bold;
            }

            &__description {
                color: $secondaryColor;
                margin: 1em 0;
                width: 85%;
                line-height: 1.6em;
            }

            &__stack {
                margin: 1em 0;
                font-weight: 500;

                span {
                    margin-right: 0.3em;
                    font-size: 0.8rem;
                }
            }

            &__links {
                margin: 2em 0;

                &__link {
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    margin-right: 1em;
                    font-weight: bold;
                    border-bottom: 2px solid $secondaryColor;
                }
            }
        }

        &__imgContainer {
            display: flex;
            justify-content: center;
            margin: 3em 0;
            border: 1px solid rgb(235, 235, 235);

            img {
                margin: 0 auto;
                width: 100%;
            }
        }
    }
}

@media(min-width:960px) {
    .work__project {
        display: flex;
        justify-content: space-between;
        margin: 25vh 0;

        &__info {
            width: 45%;

            &__name {
                font-size: 5rem;

            }

            &__description {
                font-size: 1.2rem;
            }

            &__stack {
            
                span {
                    font-size: 0.9rem;
                }
            }

        }

        &__imgContainer {
            width: 85%;
            max-width: 522px;
        }
    }
}

@media(min-width:600px) and (max-width: 959px) {
    .work__project {
        &__info {

            &__name {
                font-size: 3rem;
            }

            &__description {
                max-width: 450px;
            }

            &__stack {
                span {
                    font-size: 0.8rem;
                }
            }

        }

        &__imgContainer {
            width: 70%;
            margin: 3em 0;
            max-width: 480px;
        }
    }
}

@media(max-width: 599px) {
    .work__project {

        &__info {

            &__name {
                font-size: 3rem;
            }

            &__links {
                &__link {
                    font-size: 0.8rem;
                }
            }
        }

        &__imgContainer {
            width: 100%;
            margin: 3em 0;
        }
    }
}

