.work {
    .work__project {
        &__info {
            margin-bottom: 3em;
            display: flex;
            flex-direction: column;

            &__name {
                margin-left: -5px;
                font-weight: bold;
            }

            &__description {
                color: $secondaryColor;
                margin: 1em 0;
                width: 85%;
                line-height: 1.6em;
            }

            &__stack {
                margin: 1em 0;
                font-weight: 500;

                span {
                    margin-right: 0.3em;
                    font-size: 0.8rem;
                }
            }

            &__links {
                margin: 2em 0;

                &__link {
                    text-transform: uppercase;
                    margin-right: 1em;
                    font-weight: bold;
                    border-bottom: 2px solid $secondaryColor;
                }
            }
        }

        &__imgContainer {
            display: flex;
            justify-content: flex-end;

            img {
                object-fit: cover;
                border: 1px solid rgb(236, 236, 236);
            }
        }
    }

}

@media(min-width:960px) {
    .work__project {
        margin-top: 5em;
        margin-bottom: 10em;
        display: flex;
        justify-content: space-between;

        &__info {
            width: 45%;

            &__name {
                font-size: 3.8rem;

            }

            &__description {
                font-size: 1.2rem;
            }

            &__stack {
            
                span {
                    font-size: 0.9rem;
                }
            }

            &__links {
                &__link {
                    font-size: 0.9rem;
                }
            }

        }

        &__imgContainer {
            width: 55%;
            img {
                min-width: 456px;
                width: 100%;
            }
        }
    }

    .work__project.authentication {
        .work__project__imgContainer {
            margin-right: 3em;
            width: calc(50% - 3em)
        }
    }
}

@media(min-width:600px) and (max-width: 959px) {
    .work__project {

        &__info {

            &__name {
                font-size: 3rem;
            }

            &__description {
                max-width: 450px;
            }

            &__stack {
                span {
                    font-size: 0.8rem;
                }
            }

        }

        &__imgContainer {
            width: 100%;
            margin-bottom: 5em;
            img {
                min-width: 446px;
                width: 60%;
            }
        }
    }

    .work__project.authentication {
        display: flex;
        flex-direction: column;

        .work__project__info {
            order: 1;
        }

        .work__project__imgContainer {
            order: 2;
        }
    }
}

@media(max-width: 599px) {
    
    .work__project {
        margin-bottom: 5.5em;
        &__info {

            &__name {
                font-size: 2.3rem;
            }

            &__links {
                &__link {
                    font-size: 0.8rem;
                }
            }
        }

        &__imgContainer {
            img {
                height: 280px;
                width: 100%;    
            }
        }
    }

    .work__project.authentication {
        display: flex;
        flex-direction: column;

        .work__project__info {
            order: 1;
        }

        .work__project__imgContainer {
            order: 2;
        }
    }
} 