.work {
    padding: 10em 0;
    margin: 45vh 0;
    display: flex;
    width: 300%;

    &__project {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    img {
        width: 60%;
    }
}