@mixin icons__parent {
    position: absolute;
}

@mixin icons__children {
    margin-right: 1em;
}

@mixin icons__children__large {
    width: 1.6em;
}

@mixin icons__children__medium {
    width: 1.6em;
}

@mixin icons__children__small {
    width: 1.4em;
}