header {
    height: 100vh;
    position: relative;

    .hamburgerIcon {
        width: 2em;
        position: absolute;
        right: 1em;
        display: none
    }

    nav {
        margin-top: 2em;

        .navlinks {
            display: flex;
            justify-content: flex-end;

            a {
                font-size: 1.1rem;
                margin: 0 1em;
            }

            a:hover {
                border-bottom: 5px solid black;
            }
        }

        .visible {
            display: block;
        }

        .hidden {
            display: none;
        }
    }
}



@media(max-width: 599px) {
    header {
        .hamburgerIcon {
            display: block;
        }

        .navlinks {
            a {
                display: none;
            }
        }

        .navlinks__mobile {
            position: absolute;
            width: 100%;
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 95vh;

            img {
                width: 25px;
                height: 25px;
                position: absolute;
                top: 2em;
                right: 1em;
            }

            &__link{
                margin: 1em 0;

                a {
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
        }
    }
}