main {
    position: relative;

    section {
        margin: 40vh 0;
        position: relative;

        .heading {
            position: absolute;
            top: -5em;
            color: $secondaryColor;
            font-size: 1.4em;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 1em;
        } 
    }
    
    .icons {
        @include icons__parent;
        bottom: 5em;

        img {
            @include icons__children;
        }
    }
}