main {
    position: relative;

    .heading {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 2px;  
    } 
    .icons {
        @include icons__parent;
        bottom: 5em;

        img {
            @include icons__children;
        }
    }
}