main {
    position: relative;

    section {
        position: relative;

        .heading {
            color: $secondaryColor;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
        } 
    }
    
    .icons {
        @include icons__parent;
        bottom: 5em;

        img {
            @include icons__children;
        }
    }
}

@media(min-width:960px) {
    section {
        margin-bottom: 7em;
        padding-top: 4em;
        .heading {
            margin-bottom: 1.9em;
            font-size: 1.2rem;
        }
    }
}

@media(max-width: 959px) {
    section {
        margin-bottom: 3em;
        padding-top: 2em;
        .heading {
            margin-bottom: 1.8em;
            font-size: 1rem;
        }
    }
}